<h2>Email: <%= @user.email %> </h2>
<h2>First Name: <%= @user.first_name %> </h2>
<h2>Last Name: <%= @user.last_name %> </h2>
<h3>Tweets:</h3>
<% @tweets.each do |tweet| %>
  <ul>
    <li><%= tweet.content %></li>
  </ul>
<% end %>

<%= link_to 'Back', tweets_path %>