<!DOCTYPE html>
<html>
  <head>
    <title>Tweetor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      You are currently logged in as <%= current_user.email %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>
      </li>
      <li>
      <%= link_to "Login with Facebook", user_facebook_omniauth_authorize_path %>
      </li>
    <% end %>
    
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
